a:not(.logo a, .arrow_top a) {
  font-family: sans-serif;
  /* font-weight: 700;
  font-size: 1.2rem; */

  background-color: var(--color-accent2);
  color: var(--color-secondary1);
  border-radius: 0.2rem;
  padding: 0.2rem 0.8rem;
  align-self: start;
  transition: 0.5s;
}

button:hover,
button:focus,
a:hover:not(.logo_a),
a:focus:not(.logo_a) {
  box-shadow: 0 0.6rem 0.5rem -0.4rem var(--box-shadow-1);
  transform: translateY(-0.15rem);
  border-radius: 0.3rem;
}

/*** Inspiration form: https://github.com/codrops/ButtonHoverStyles ***/
/* .button--calypso {
  overflow: hidden;
}

.button--calypso span {
  display: block;
  position: relative; */
/* mix-blend-mode: difference; */
/* z-index: 10;
}

.button--calypso:hover span {
  animation: MoveScaleUpInitial 0.3s forwards, MoveScaleUpEnd 0.3s forwards 0.3s;
}

@keyframes MoveScaleUpInitial {
  to {
    transform: translate3d(0, 0, -105%) scale3d(1, 1, 2);
    opacity: 0;
  }
}

@keyframes MoveScaleUpEnd {
  from {
    transform: translate3d(0, 100%, 0) scale3d(1, 2, 1);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.button--calypso::before {
  content: "";
  background: #000;
  width: 120%;
  height: 0;
  padding-bottom: 120%;
  top: -110%;
  left: -10%;
  border-radius: 50%;
  transform: translate3d(0, 68%, 0) scale3d(0, 0, 0);
}

.button--calypso:hover::before {
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
}

.button--calypso::after {
  content: "";
  background: #000;
  transform: translate3d(0, -100%, 0);
  transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
}

.button--calypso:hover::after {
  transform: translate3d(0, 0, 0);
  transition-duration: 0.05s;
  transition-delay: 0.4s;
  transition-timing-function: linear;
} */
